@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Open+Sans:ital,wght@0,400;1,300&display=swap');


*{
    box-sizing: border-box;
}

body{
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
    background-color:#2c3e50;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}


#failed{
    display: none;
    text-align: center;

}

#failed h1{
    color: rgb(218, 134, 134);
}
#failed input{
    outline: none;
    cursor: pointer;
    padding: 8px 20px;
    margin-top: 25px;
    width: 60%;
}

#setting{
    background-color: rgba(1, 1, 1, 0.3);
    top: 0;
    width: 100%;
    padding-top: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 10px 0px;
}

select{
    outline: 0;
    padding:2px 5px;
}

#setting h4{
    margin-right: 30px;
    line-height: 5px;
    letter-spacing: 1px;
    color: rgb(181, 234, 255);
}

#container{
    margin-top: 12%;
    background-color: #394e63;
    box-shadow: 0 10px 10px 0 rgba(1, 1, 1, 0.3);
    width: 40%;
    padding: 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#game{
    width: 90%;
    /*display: none;*/
    text-align: center;
}

#score-time{
    display: flex;
    width: 100%;
    color: rgb(218, 134, 134);
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: larger;
}

#score{
    color: rgb(131, 192, 157);
}

span{
    font-size:small;
    color: rgb(187, 187, 187);
}

#word{
    font-size: 30pt;
    font-weight: 900;
    padding: 0px;
    margin-top: 3px;
}

#input-word{
    padding: 12px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 60%;
    margin-bottom: 20px;
    font-size: medium;
}




